openapi: 3.0.3
info:
  title: Eduframe - API
  version: v1
servers:
- url: https://api.eduframe.nl/api/v1
security:
- Bearer: []
tags:
- description: ""
  name: accounts
- description: ""
  name: affiliations
- description: ""
  name: attendances
- description: ""
  name: authentications
- description: ""
  name: catalog-products
- description: ""
  name: catalog-variants
- description: ""
  name: categories
- description: ""
  name: comments
- description: ""
  name: course_locations
- description: ""
  name: course_tabs
- description: ""
  name: course_variants
- description: ""
  name: courses
- description: ""
  name: credit_categories
- description: ""
  name: credits
- description: ""
  name: custom_associations
- description: ""
  name: custom_field_options
- description: ""
  name: custom_objects
- description: ""
  name: custom_records
- description: ""
  name: discount_codes
- description: ""
  name: educators
- description: ""
  name: enrollments
- description: ""
  name: grades
- description: ""
  name: invoice_vats
- description: ""
  name: invoices
- description: ""
  name: labels
- description: ""
  name: leads
- description: ""
  name: material_groups
- description: ""
  name: materials
- description: ""
  name: meeting_locations
- description: ""
  name: meetings
- description: ""
  name: orders
- description: ""
  name: payment_methods
- description: ""
  name: payment_options
- description: ""
  name: payments
- description: ""
  name: planned_courses
- description: ""
  name: planning-conflicts
- description: ""
  name: planning-events
- description: ""
  name: planning-locations
- description: ""
  name: planning-materials
- description: ""
  name: planning-teachers
- description: ""
  name: program-blocks
- description: ""
  name: program-editions
- description: ""
  name: program-elements
- description: ""
  name: program-enrollments
- description: ""
  name: program-personal-program-elements
- description: ""
  name: program-programs
- description: ""
  name: referrals
- description: ""
  name: signup_questions
- description: ""
  name: tasks
- description: ""
  name: teacher_enrollments
- description: ""
  name: teacher_roles
- description: ""
  name: teachers
- description: ""
  name: theses
- description: ""
  name: users
- description: ""
  name: webhook-notifications
- description: |2

    <h4 id="label-Setup">Setup<span><a href="#label-Setup">&para;</a> <a href="#top">&uarr;</a></span></h4>

    <p>To setup a webhook, you can create one through the API or go to the admin setting to use the UI.</p>

    <h4 id="label-Webhook+Return+Payload">Webhook Return Payload<span><a href="#label-Webhook+Return+Payload">&para;</a> <a href="#top">&uarr;</a></span></h4>

    <p>An example payload for approving an order would look something like this:</p>

    <pre>{
      &quot;tenant_id&quot;: &quot;uuid&quot;                 // UUID of the tenant
      &quot;educator&quot;: &quot;some-subdomain&quot;,       // Subdomain of the educator
      &quot;event&quot;: &quot;account.updated&quot;          // Event that triggered the webhook
      &quot;event_data&quot;: &quot;Account&quot;,            // Event-specific data
    }</pre>

    <p>The Open API format of these payloads:</p>

    <pre class="ruby">{
      <span class="ruby-value">&quot;tenant_id&quot;:</span> {
        <span class="ruby-value">&quot;type&quot;:</span> <span class="ruby-string">&quot;string&quot;</span>
      },
      <span class="ruby-value">&quot;educator&quot;:</span> {
        <span class="ruby-value">&quot;type&quot;:</span> <span class="ruby-string">&quot;string&quot;</span>
      },
      <span class="ruby-value">&quot;event&quot;:</span> {
        <span class="ruby-value">&quot;type&quot;:</span> <span class="ruby-string">&quot;string&quot;</span>
      },
      <span class="ruby-value">&quot;event_data&quot;:</span> {
        <span class="ruby-value">&quot;type&quot;:</span> <span class="ruby-string">&quot;object&quot;</span>
      }
    }
    </pre>
  name: webhooks
paths:
  /accounts:
    get:
      operationId: get_accounts
      parameters:
      - description: Filter results on search
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Filter results on key_contact_user_id
        explode: true
        in: query
        name: key_contact_user_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results on user_id
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results on account_type
        explode: true
        in: query
        name: account_type
        required: false
        schema:
          $ref: '#/components/schemas/AccountType'
        style: form
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountWithIncludes'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - relations:read
      summary: Get all accounts
      tags:
      - accounts
    post:
      operationId: create_account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_account_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountWithIncludes'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - relations:modify
      summary: Create an account
      tags:
      - accounts
  /accounts/{id}:
    get:
      operationId: get_account_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - relations:read
      summary: Get a single account
      tags:
      - accounts
    patch:
      operationId: update_account
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_account_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - relations:modify
      summary: Update an account
      tags:
      - accounts
  /affiliations:
    get:
      operationId: get_affiliations
      parameters:
      - description: Filter results on user_id
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results on account_id
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: integer
        style: form
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Affiliation'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - relations:read
      summary: Get all affiliations
      tags:
      - affiliations
    post:
      operationId: create_affiliation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_affiliation_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Affiliation'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - relations:modify
      summary: Create an affiliation affiliations
      tags:
      - affiliations
  /affiliations/{id}:
    delete:
      operationId: delete_affiliation_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - relations:destroy
      summary: Delete an affiliation
      tags:
      - affiliations
    patch:
      operationId: update_affiliation_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_affiliation_by_id_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Affiliation'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - relations:modify
      summary: Update an affiliation.
      tags:
      - affiliations
  /attendances:
    get:
      operationId: get_attendances
      parameters:
      - description: Filter attendances on meeting_id
        explode: true
        in: query
        name: meeting_id
        required: false
        schema:
          type: integer
        style: form
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Attendance'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get all attendance records
      tags:
      - attendances
  /attendances/upsert:
    post:
      operationId: set_attendance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/set_attendance_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attendance'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:modify
      summary: Set an attendance.
      tags:
      - attendances
  /authentications:
    post:
      operationId: create_authentication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_authentication_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - authentications:modify
      summary: Create an authentication.
      tags:
      - authentications
  /catalog/products:
    get:
      operationId: get_catalog_products
      parameters:
      - description: Show only published products
        explode: true
        in: query
        name: published
        required: false
        schema:
          enum:
          - published
          type: string
        style: form
      - description: Filter results on category_id
        explode: true
        in: query
        name: category_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results on productable_type
        explode: true
        in: query
        name: productable_type
        required: false
        schema:
          enum:
          - Course
          - Program::Program
          type: string
        style: form
      - description: Filter results on search
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Sort the results. Can change order by using `<sort_by>:<direction>`
          where `<direction>` is either `asc` or `desc`
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            enum:
            - id:asc
            - id:desc
            - position:asc
            - position:desc
            type: string
          type: array
        style: form
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProductWithIncludes'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get all catalog products
      tags:
      - catalog-products
  /catalog/products/{id}:
    get:
      operationId: get_catalog_product_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get a catalog product record
      tags:
      - catalog-products
    patch:
      operationId: update_catalog_product_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_catalog_product_by_id_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:modify
      summary: Update a catalog product
      tags:
      - catalog-products
  /catalog/variants:
    get:
      operationId: get_catalog_variants
      parameters:
      - description: Only show published variants and planned_courses that are either
          planned or in progress
        explode: true
        in: query
        name: published_public
        required: false
        schema:
          enum:
          - published_public
          type: string
        style: form
      - description: Filter results on product_id
        explode: true
        in: query
        name: product_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results on variantable_id
        explode: true
        in: query
        name: variantable_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter results on variantable_type
        explode: true
        in: query
        name: variantable_type
        required: false
        schema:
          enum:
          - planned_course
          - program_edition
          type: string
        style: form
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VariantWithIncludes'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get all catalog variants
      tags:
      - catalog-variants
  /catalog/variants/{id}:
    get:
      operationId: get_catalog_variant_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get a catalog variant record
      tags:
      - catalog-variants
    patch:
      operationId: update_catalog_variant_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_catalog_variant_by_id_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:modify
        - courses:read
      summary: Update a catalog variant
      tags:
      - catalog-variants
  /categories:
    get:
      operationId: get_categories
      parameters:
      - description: Show only published categories
        explode: true
        in: query
        name: published
        required: false
        schema:
          enum:
          - published
          type: string
        style: form
      - description: Sort the results. Can change order by using `<sort_by>:<direction>`
          where `<direction>` is either `asc` or `desc`
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            enum:
            - position:asc
            - position:desc
            type: string
          type: array
        style: form
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get all category records
      tags:
      - categories
    post:
      operationId: create_category
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_category_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:modify
      summary: Create a category.
      tags:
      - categories
  /categories/{id}:
    get:
      operationId: get_category_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get a category record
      tags:
      - categories
    patch:
      operationId: update_category_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_category_by_id_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:modify
      summary: Update a category.
      tags:
      - categories
  /comments:
    post:
      operationId: create_comment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_comment_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer: []
      summary: Create a comment.
      tags:
      - comments
  /comments/{id}:
    delete:
      operationId: delete_comment_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer: []
      summary: Delete a comment.
      tags:
      - comments
    patch:
      operationId: update_comment_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_comment_by_id_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer: []
      summary: Update a comment.
      tags:
      - comments
  /course_locations:
    get:
      operationId: get_course_locations
      parameters:
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CourseLocationWithIncludes'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:read
      summary: Get all course location records
      tags:
      - course_locations
    post:
      operationId: create_course_location
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_course_location_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseLocationWithIncludes'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:modify
      summary: Create a course location.
      tags:
      - course_locations
  /course_locations/{id}:
    delete:
      operationId: delete_course_location_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - destroyable_settings:destroy
      summary: Delete a course location.
      tags:
      - course_locations
    get:
      operationId: get_course_location_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseLocationWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:read
      summary: Get a course location record
      tags:
      - course_locations
    patch:
      operationId: update_course_location_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_course_location_by_id_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseLocationWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:modify
      summary: Update a course location.
      tags:
      - course_locations
  /course_tabs:
    get:
      operationId: get_course_tabs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CourseTab'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer: []
      summary: Get all course tab records
      tags:
      - course_tabs
  /course_variants:
    get:
      operationId: get_course_variants
      parameters:
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CourseVariant'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:read
      summary: Get all course variant records
      tags:
      - course_variants
    post:
      operationId: create_course_variant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_course_variant_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseVariant'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:modify
        - settings:read
      summary: Create a course variant
      tags:
      - course_variants
  /course_variants/{id}:
    get:
      operationId: get_course_variant_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseVariant'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:read
      summary: Get a course variant record
      tags:
      - course_variants
  /courses:
    get:
      operationId: get_courses
      parameters:
      - description: Show only published courses
        explode: true
        in: query
        name: published
        required: false
        schema:
          enum:
          - published
          type: string
        style: form
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CourseWithIncludes'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get all course records
      tags:
      - courses
    post:
      operationId: create_course
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoursePayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseWithIncludes'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:modify
        - courses:read
      summary: Create a course.
      tags:
      - courses
  /courses/{id}:
    get:
      operationId: get_course_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get a course record
      tags:
      - courses
    patch:
      operationId: update_course_by_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoursePatchPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:modify
        - courses:read
      summary: Update a course.
      tags:
      - courses
  /courses/{course_id}/planned_courses:
    get:
      operationId: get_planned_courses_by_course_id
      parameters:
      - explode: false
        in: path
        name: course_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Filter results on search
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Filter results on type
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - FixedPlannedCourse
          - FlexiblePlannedCourse
          type: string
        style: form
      - description: Filter results on parents_published
        explode: true
        in: query
        name: parents_published
        required: false
        schema:
          enum:
          - parents_published
          type: string
        style: form
      - description: Only show courses that are published and are either planned or
          in progress
        explode: true
        in: query
        name: published_public
        required: false
        schema:
          enum:
          - published_public
          type: string
        style: form
      - description: Filter results on start_date_from
        explode: true
        in: query
        name: start_date_from
        required: false
        schema:
          type: string
        style: form
      - description: Filter results on start_date_until
        explode: true
        in: query
        name: start_date_until
        required: false
        schema:
          type: string
        style: form
      - description: Filter results on availability_state
        explode: true
        in: query
        name: availability_state
        required: false
        schema:
          $ref: '#/components/schemas/AvailabilityState'
        style: form
      - description: Filter results on status
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/PlannedCourseStatus'
        style: form
      - description: Sort the results. Can change order by using `<sort_by>:<direction>`
          where `<direction>` is either `asc` or `desc`
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            enum:
            - start_date:asc
            - start_date:desc
            type: string
          type: array
        style: form
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlannedCourseWithIncludes'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get all planned course records of a single course
      tags:
      - planned_courses
  /courses/{course_id}/planned_courses/{id}:
    get:
      operationId: get_planned_courses_by_id_and_course_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: course_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlannedCourseWithIncludes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - courses:read
      summary: Get a planned course record of a single course
      tags:
      - planned_courses
  /credit_categories:
    get:
      operationId: get_credit_categories
      parameters:
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreditCategoryWithIncludes'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:read
      summary: Get all credit category records
      tags:
      - credit_categories
  /credits:
    get:
      operationId: get_credits
      parameters:
      - description: Filter results on student_id
        explode: true
        in: query
        name: student_id
        required: false
        schema:
          type: integer
        style: form
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Credit'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:read
      summary: Get all credit records
      tags:
      - credits
  /custom/{object_type}/associations:
    get:
      description: |
        ![Custom Objects](https://img.shields.io/badge/Feature-Custom_objects-1d8127)
      operationId: get_associations_of_object
      parameters:
      - description: |
          The type of the object the custom field is for.
        explode: false
        in: path
        name: object_type
        required: true
        schema:
          enum:
          - users
          - accounts
          - catalog_products
          - catalog_variants
          - teachers
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomAssociation'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:read
      summary: Get all associations of an system object
      tags:
      - custom_associations
      x-badges:
      - name: Beta
        color: '#7d15a3'
        position: after
  /custom/{object_type}/fields/{field_slug}/options:
    get:
      operationId: get_options_of_custom_field
      parameters:
      - description: |
          The type of the object the custom field is for.
        explode: false
        in: path
        name: object_type
        required: true
        schema:
          enum:
          - users
          - accounts
          - catalog_products
          - catalog_variants
          - teachers
          type: string
        style: simple
      - description: |
          The unique identifier of the custom field.
        explode: false
        in: path
        name: field_slug
        required: true
        schema:
          type: string
        style: simple
      - description: |
          **Note**: It's almost never necessary to use this parameter directly, the URL
            should be retrieved from the `Link` header.

          The cursor used to fetch the next result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to retrieve for this page.
        example: 10
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomFieldOption'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:read
      summary: Get all options of a custom field
      tags:
      - custom_field_options
      x-badges:
      - name: Beta
        color: '#7d15a3'
        position: after
    post:
      operationId: add_option_to_custom_field
      parameters:
      - description: |
          The type of the object the custom field is for.
        explode: false
        in: path
        name: object_type
        required: true
        schema:
          enum:
          - users
          - accounts
          - catalog_products
          - catalog_variants
          - teachers
          type: string
        style: simple
      - description: |
          The unique identifier of the custom field.
        explode: false
        in: path
        name: field_slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldOptionPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldOption'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - Bearer:
        - settings:modify
      summary: Add an option to a custom field
      tags:
      - custom_field_options
      x-badges:
      - name: Beta
        color: '#7d15a3'
        position: after
  /custom/{object_type}/fields/{field_slug}/options/{option_id}:
    delete:
      operationId: delete_option_of_custom_field
      parameters:
      - description: |
          The type of the object the custom field is for.
        explode: false
        in: path
[...]
